<div class="widgets">
<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">

    <!--this div have search boxes used for searching product-->
    <div class="row" style="border-collapse: collapse; padding: 0px;">
    
        <!--this div display static data-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="border-collapse: collapse; padding: 0px;">
            <div class="list-group">
                <div class="list-group-item">
                    <strong>Compare By :</strong> 
                    <br>
                    <br>
                    <div class="list-group" align="center">
                        <div class="list-group-item">Jump To &nbsp;&nbsp; <i class="ion ion-ios-play"></i></div>
                        <div class="list-group-item">Price List</div>
                        <div class="list-group-item">Reviews</div>
                    </div>                    
                </div>        
            </div>
        </div>
        
        <!--this div holds all the seach boxes-->
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        
            <div class="row list-group">
            
                <!--tags and logics for first search box-->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 list-group-item">
                    
                    <div ng-show="isLoading">
                        
                        <!--first search box used to search the product-->
                        <ui-select ng-model="mobName"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="true" ng-change="searchProduct(mobName)" ng-click="mobName=null">
                        <ui-select-match placeholder="Add a Mobile" >
                            {{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="mobile in productTypeName | filter: $select.search | limitTo : 3" >
                            <img ng-src="{{::( 'n' | profilePicture )}}"> &nbsp;&nbsp;
                            <span ng-bind-html="mobile"></span>
                        </ui-select-choices>
                        </ui-select>
                        
                        <br><br>
                        
                        <!--display the default suggested product-->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'nokia' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <strong>Nokia</strong>
                                <br><br>
                                <strong>&#8377; 10000</strong>                            
                            </div>                             
                        </div>
                        <div align="center">
                        <button class="btn btn-primary">+ Compare</button>
                        </div>
                    </div>
                    
                    <!--display the searched product name and price-->
                    <div ng-hide="isLoading" align="center">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <h4>
                                    {{productType}}
                                </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="ion ion-close-circled" ng-click="clearFirstSearchProduct()"></i>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <br>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'moto' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h5>&#8377; {{productPrice}}</h5>
                                <br>
                                <button class="btn btn-warning">Buy Now ></button>
                            </div>
                        </div>
                        <br>
                    </div>
                    
                </div>
                <!--tags and logics for second search box-->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 list-group-item">
                
                    <div ng-show="isLoading1">
                        
                        <!--second search box used to search the product-->
                        <ui-select ng-model="mobName1"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="true" ng-change="searchProduct1(mobName1)" ng-click="mobName1=null">
                        <ui-select-match placeholder="Add a Mobile" >
                            {{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="mobile in productTypeName | filter: $select.search | limitTo : 3" >
                             <img ng-src="{{::( 'n' | profilePicture )}}"> &nbsp;&nbsp;
                            <span ng-bind-html="mobile"></span>
                        </ui-select-choices>
                    </ui-select>
                        
                    <br><br>
                    
                    <!--display the default suggested product-->
                    <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'nokia' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <strong>Nokia</strong>
                                <br><br>
                                <strong>&#8377; 10000</strong>                            
                            </div> 
                            
                        </div>
                        <div align="center">
                        <button class="btn btn-primary">+ Compare</button>
                        </div>
                    </div>
                    
                    <!--display the searched product name and price-->
                    <div ng-hide="isLoading1" align="center">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <h4>
                                    {{productType1}}
                                </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="ion ion-close-circled" ng-click="clearSecondSearchProduct()"></i>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <br>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'moto' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h5>&#8377; {{productPrice1}}</h5>
                                <br>
                                <button class="btn btn-warning">Buy Now ></button>
                            
                            </div>
                        </div>
                        <br>
                    </div>                        
                    
                </div>
                <!--tags and logics for third search box-->
                <div class="col-md-3 col-lg-3 list-group-item">
                    
                    <div ng-show="isLoading2">
                        
                        <!--third search box used to search the product-->
                        <ui-select ng-model="mobName2"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="true" ng-change="searchProduct2(mobName2)" ng-click="mobName2=null">
                        <ui-select-match placeholder="Add a Mobile" >
                            {{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="mobile in productTypeName | filter: $select.search | limitTo : 4" >
                             <img ng-src="{{::( 'n' | profilePicture )}}"> &nbsp;&nbsp;
                            <span ng-bind-html="mobile"></span>
                        </ui-select-choices>
                    </ui-select>
                
                <br><br>
                        <!--display the default suggested product-->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'nokia' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <strong>Nokia</strong>
                                <br><br>
                                <strong>&#8377; 10000</strong>                            
                            </div> 
                            
                        </div>
                        <div align="center">
                        <button class="btn btn-primary">+ Compare</button>
                        </div>
                    </div>
                    <!--display the searched product name and price-->
                    <div ng-hide="isLoading2" align="center">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <h4>
                                    {{productType2}}
                                </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="ion ion-close-circled" ng-click="clearThirdSearchProduct()"></i>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <br>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'moto' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h5>&#8377; {{productPrice2}}</h5>
                                <br>
                                <button class="btn btn-warning">Buy Now ></button>
                            
                            </div>
                        </div>
                        <br>
                    </div>
                    
                </div>
                <!--tags and logics for fourth search box-->
                <div class="col-md-3 col-lg-3 list-group-item">
               
                    <div ng-show="isLoading3">
                        
                        <!--fourth search box used to search the product-->
                        <ui-select ng-model="mobName3"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="true" ng-change="searchProduct3(mobName3)" ng-click="mobName3=null">
                        <ui-select-match placeholder="Add a Mobile" >
                            {{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices
                                           repeat="mobile in productTypeName | filter: $select.search | limitTo : 4" >
                             <img ng-src="{{::( 'n' | profilePicture )}}"> &nbsp;&nbsp;
                            <span ng-bind-html="mobile"></span>
                        </ui-select-choices>
                    </ui-select>
                    <br><br>                      
                        <!--display the default suggested product-->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'nokia' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <strong>Nokia</strong>
                                <br><br>
                                <strong>&#8377; 10000</strong>                            
                            </div> 
                            
                        </div>
                        <div align="center">
                        <button class="btn btn-primary">+ Compare</button>
                        </div>
                    </div>
                    
                      <!--display the searched product name and price-->
                      <div ng-hide="isLoading3" align="center">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <h4>
                                    {{productType3}}
                                </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="ion ion-close-circled" ng-click="clearFourthSearchProduct()"></i>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <br>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                            
                                <img ng-src="{{::( 'moto' | profilePicture )}}">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h5>&#8377; {{productPrice3}}</h5>
                                <br>
                                <button class="btn btn-warning">Buy Now ></button>
                            
                            </div>
                        </div>
                        <br>
                    </div>
                    
                </div>
            
            </div>
        
        </div>
  
    </div>
    
    <!--this div used for display the product attribute according to the searched product-->
    <div class="row" style="border-collapse: collapse; padding: 0px;">
        
        <uib-accordion>
            
            <!--this div is used for display product attribute detail for summary-->
            <div uib-accordion-group class="panel-default" is-open="status.open">
                    <uib-accordion-heading>
                        <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i> &nbsp;Summary 
                    </uib-accordion-heading>
                    
                <!--display the product attribute name-->
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="border-collapse: collapse; padding: 0px;">
            

                     <div class="list-group" ng-repeat="item in productAttributeDisplayNameSummary" style=" margin-top : 10px; margin-bottom:10px;">
                            <div class="list-group-item">
                                {{item}}
                            </div>
                    </div>
                
                </div>
                
                <!--display the product attribute value-->
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding:0px;">
            
                    <div class="row">
                        
                        <!--display the product attribute values for product searched from the first search box-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttributeSummary" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>  
                        
                        <!--display the product attribute values for product searched from the second search box-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttribute1Summary" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>         
                        
                        <!--display the product attribute values for product searched from the third search box-->
                        <div class="col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">   
                            <div class="list-group" ng-repeat="item in productAttribute2Summary" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>            
                        
                        <!--display the product attribute values for product searched from the fourth search box-->
                        <div class="col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttribute3Summary" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>            
                    
                   </div>
                </div>
                
            </div>
            
            <!--this div is used for display product attribute detail for general-->
            <div uib-accordion-group class="panel-default" is-open="status1.open">
                    <uib-accordion-heading>
                        <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i> &nbsp;General 
                    </uib-accordion-heading>
             
                
                <!--display the product attribute display name-->
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="border-collapse: collapse; padding: 0px;">            

                     <div class="list-group" ng-repeat="item in productAttributeDisplayNameGeneral" style=" margin-top : 10px; margin-bottom:10px;">
                            <div class="list-group-item">
                                {{item}}
                            </div>
                    </div>
                
                </div>
                
                <!--display the product attribute value-->
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding:0px;">
            
                    <div class="row">
                        
                        <!--display the product attribute values for product searched from the first search box-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttributeGeneral" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>  
                        
                        <!--display the product attribute values for product searched from the second search box-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttribute1General" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>         
                        
                        <!--display the product attribute values for product searched from the third search box-->
                        <div class="col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">   
                            <div class="list-group" ng-repeat="item in productAttribute2General" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>            
                        
                        <!--display the product attribute values for product searched from the fourth search box-->
                        <div class="col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttribute3General" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>            
                    
                   </div>
                </div>
             
                </div>

            <!--this div is used for display product attribute detail for storage-->
            <div uib-accordion-group class="panel-default" is-open="status2.open">
                    <uib-accordion-heading>
                        <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i> &nbsp;Storage 
                    </uib-accordion-heading>
             
                
                <!--display the product attribute display name-->
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="border-collapse: collapse; padding: 0px;">
            

                     <div class="list-group" ng-repeat="item in productAttributeDisplayNameStorage" style=" margin-top : 10px; margin-bottom:10px;">
                            <div class="list-group-item">
                                {{item}}
                            </div>
                    </div>
                
                </div>
                
                               <!--display the product attribute value-->
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding:0px;">
            
                    <div class="row">
                        
                        <!--display the product attribute values for product searched from the first search box-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttributeStorage" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>  
                        
                        <!--display the product attribute values for product searched from the second search box-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttribute1Storage" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>         
                        
                        <!--display the product attribute values for product searched from the third search box-->
                        <div class="col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">   
                            <div class="list-group" ng-repeat="item in productAttribute2Storage" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>            
                        
                        <!--display the product attribute values for product searched from the fourth search box-->
                        <div class="col-md-3 col-lg-3" style=" border-collapse: collapse; padding: 0px;">
                            <div class="list-group" ng-repeat="item in productAttribute3Storage" style=" margin-top : 10px; margin-bottom:10px;">
                                <div class="list-group-item">
                                    {{item}}
                                </div>
                            </div>
                        </div>            
                    
                   </div>
                </div>
          
                </div>
            
            </uib-accordion>                       
    
    </div>      
        
</div>    
</div>

